@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

:root{
    /* Colors */
    --color1:hsl(243, 87%, 12%);
    --color2:hsl(238, 22%, 44%);

    
    --color3:hsl(224, 93%, 58%);
    --color4:hsl(170, 45%, 43%);

    
    --color5:hsl(240, 75%, 98%);
    --color6:hsl(0, 0%, 75%);

}